@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

* {
  padding: 0;
  margin: 0; }

.center {
  width: 80%;
  margin: 0 auto; }

.partical {
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  margin: 0 auto; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

body {
  font-family: "hiragino", serif;
  font-size: 14px;
  background-color: #fff;
  color: #292929; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 12px; } }

#manna_main {
  width: 980px;
  margin: 0 auto; }
  #manna_main #manna_header {
    margin-top: 96px;
    overflow: hidden;
    margin-bottom: 40px; }
    #manna_main #manna_header #title_logo {
      width: 260px;
      float: left; }
      #manna_main #manna_header #title_logo img {
        width: 100%; }
    #manna_main #manna_header #menu_list {
      float: right; }
      #manna_main #manna_header #menu_list ul li {
        float: left;
        list-style-type: none; }
        #manna_main #manna_header #menu_list ul li a {
          text-decoration: none;
          color: #292929;
          margin-left: 20px; }
  #manna_main #manna_message {
    text-align: center; }
    #manna_main #manna_message img {
      width: 100%; }
    #manna_main #manna_message #manna_text_message {
      padding-top: 56px;
      padding-bottom: 36px;
      background-color: #e6e6e6; }
      #manna_main #manna_message #manna_text_message h2 {
        padding-bottom: 56px;
        font-size: 24px; }
      #manna_main #manna_message #manna_text_message p {
        line-height: 44px;
        margin-bottom: 56px; }
      #manna_main #manna_message #manna_text_message a {
        text-decoration: none;
        color: #fff;
        padding: 7px 22px;
        background-color: #F2C0BD; }
  #manna_main .manna_block {
    margin-top: 64px; }
    #manna_main .manna_block .title_heading {
      margin-bottom: 20px;
      font-size: 24px; }
  #manna_main #manna_block_news {
    overflow: hidden; }
    #manna_main #manna_block_news #manna_feed_news {
      margin-bottom: 8px; }
      #manna_main #manna_block_news #manna_feed_news dl {
        overflow: hidden;
        margin-bottom: 16px; }
        #manna_main #manna_block_news #manna_feed_news dl dt {
          float: left;
          clear: left;
          margin-right: 52px; }
        #manna_main #manna_block_news #manna_feed_news dl dd {
          float: left;
          margin-right: 52px; }
  #manna_main #manna_block_blog {
    overflow: hidden; }
    #manna_main #manna_block_blog #manna_feed_blog {
      overflow: hidden; }
      #manna_main #manna_block_blog #manna_feed_blog dl {
        width: 440px;
        float: left; }
      #manna_main #manna_block_blog #manna_feed_blog .blog_sub {
        float: right; }
        #manna_main #manna_block_blog #manna_feed_blog .blog_sub dt {
          float: left;
          width: 182px;
          margin-right: 18px;
          margin-bottom: 30px; }
  #manna_main #manna_block_order {
    overflow: hidden; }
    #manna_main #manna_block_order #manna_feed_food {
      overflow: hidden; }
      #manna_main #manna_block_order #manna_feed_food dl {
        width: 300px;
        float: left;
        margin-right: 40px; }
        #manna_main #manna_block_order #manna_feed_food dl:nth-child(3n) {
          margin-right: 0; }

.manna_btn_seemore_right {
  float: right;
  text-decoration: none;
  color: #fff;
  padding: 7px 22px;
  background-color: #F2C0BD; }

footer {
  width: 100%;
  bottom: 8px; }
  footer p {
    text-align: center; }
