@font-face {
  font-family: mc-l;
  src: url(../font/mplus-1m-light.ttf) format("opentype"); }

@font-face {
  font-family: mc-b;
  src: url(../font/mplus-1m-bold.ttf) format("opentype"); }

@font-face {
  font-family: mc-r;
  src: url(../font/mplus-1m-regular.ttf) format("opentype"); }

@font-face {
  font-family: mc-t;
  src: url(../font/mplus-1m-thin) format("opentype"); }

@font-face {
  font-family: mc-m;
  src: url(../font/mplus-1m-medium.ttf) format("opentype"); }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

.vertical {
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl; }

* {
  padding: 0;
  margin: 0; }

.center {
  width: 80%;
  margin: 0 auto; }

.partical {
  width: 90%;
  background-color: #000;
  margin: 10px 0;
  margin: 0 auto; }

.p-v-005 {
  padding: 0.5rem 0rem; }

.p-v-01 {
  padding: 1rem 0rem; }

.p-v-02 {
  padding: 2rem 0rem; }

.p-v-03 {
  padding: 3rem 0rem; }

.p-v-04 {
  padding: 4rem 0rem; }

.p-v-05 {
  padding: 5rem 0rem; }

.p-v-06 {
  padding: 6rem 0rem; }

.p-v-07 {
  padding: 7rem 0rem; }

.p-v-08 {
  padding: 8rem 0rem; }

.p-s-01 {
  padding: 0rem 1rem; }

.p-s-02 {
  padding: 0rem 2rem; }

.p-s-03 {
  padding: 0rem 3rem; }

.p-s-04 {
  padding: 0rem 4rem; }

.p-s-05 {
  padding: 0rem 5rem; }

.p-s-06 {
  padding: 0rem 6rem; }

.p-s-07 {
  padding: 0rem 7rem; }

.p-s-08 {
  padding: 0rem 8rem; }

.p-vs-01 {
  padding: 1rem 1rem; }

.p-vs-02 {
  padding: 2rem 2rem; }

.p-vs-03 {
  padding: 3rem 3rem; }

.p-vs-04 {
  padding: 4rem 4rem; }

.p-vs-05 {
  padding: 5rem 5rem; }

.p-vs-06 {
  padding: 6rem 6rem; }

.p-vs-07 {
  padding: 7rem 7rem; }

.p-vs-08 {
  padding: 8rem 8rem; }

body {
  font-family: "yu gothic", sans-serif;
  font-size: 14px;
  background-color: #eee;
  color: #222222; }
  @media screen and (max-width: 750px) {
    body {
      font-size: 13px; } }

.connect {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  max-width: 750px;
  background-color: #fff; }
  .connect #connect_header {
    width: 100%;
    overflow: hidden;
    position: relative; }
    .connect #connect_header #title_logo {
      width: 30%;
      float: left; }
      .connect #connect_header #title_logo img {
        width: 100%; }
    .connect #connect_header #info {
      display: inline-block;
      float: right;
      margin-right: 16px;
      line-height: 62px; }
  .connect #connect_sign {
    width: 80%;
    margin: 30px auto 0px; }
    .connect #connect_sign #login-input-area .hide {
      display: none; }
    .connect #connect_sign #login-input-area button {
      text-align: center;
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: 1px #e6e6e6 solid;
      border-radius: 3px;
      padding: 10px 8px;
      margin-bottom: 4px;
      cursor: pointer; }
    .connect #connect_sign #login-input-area #or {
      text-align: center;
      display: block;
      box-sizing: border-box;
      color: #000;
      width: 100%;
      padding: 8px;
      margin-bottom: 4px; }
    .connect #connect_sign #login-input-area input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      border: 1px #e6e6e6 solid;
      border-radius: 3px;
      padding: 8px;
      margin-bottom: 4px;
      cursor: pointer; }
    .connect #connect_sign #haveaccount {
      width: 100%;
      text-align: center;
      margin-top: 20px; }
      .connect #connect_sign #haveaccount button {
        color: #68a2ff; }
    .connect #connect_sign .hide {
      display: none !important; }
  .connect #connect_content {
    width: 80%;
    margin: 30px auto 0px; }
    .connect #connect_content #connect_content_btns button {
      box-sizing: border-box;
      width: 100%;
      border: 1px #e6e6e6 solid;
      border-radius: 3px;
      padding: 8px;
      margin-bottom: 4px;
      cursor: pointer;
      color: #fff; }
    .connect #connect_content #connect_content_btns #btn_iraira {
      background-color: #f4426b;
      border: 1px #f4426b solid; }
    .connect #connect_content #connect_content_btns #btn_nadenade {
      background-color: #41b8f4;
      border: 1px #41b8f4 solid; }
    .connect #connect_content #connect_content_display {
      width: 100%;
      text-align: center;
      margin-top: 10%; }
      .connect #connect_content #connect_content_display #chara {
        overflow: hidden;
        text-align: center; }
      .connect #connect_content #connect_content_display #display {
        width: 100%;
        overflow: hidden;
        font-size: 16px; }
        .connect #connect_content #connect_content_display #display #display_iraira {
          width: 50%;
          float: left; }
          .connect #connect_content #connect_content_display #display #display_iraira p {
            margin-bottom: 4px; }
        .connect #connect_content #connect_content_display #display #display_nadenade {
          width: 50%;
          float: left; }
          .connect #connect_content #connect_content_display #display #display_nadenade p {
            margin-bottom: 4px; }
  .connect #logout {
    display: block;
    position: absolute;
    bottom: 6%;
    right: 0;
    left: 0;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 1px #e6e6e6 solid;
    border-radius: 3px;
    padding: 10px 8px;
    cursor: pointer; }
  .connect .hide {
    display: none !important; }

footer {
  position: absolute;
  width: 100%;
  bottom: 8px; }
  footer p {
    text-align: center; }

.hide {
  display: none; }
