//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #fff;
	color: $black;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

#manna_main {
	width: 980px;
	margin: 0 auto;
	#manna_header {
		margin-top: 96px;
		#title_logo {
			width: 260px;
			img {
				width: 100%;
			}
		}
		#menu_list {
			float: right;
			ul {
				li {
					float: left;
					list-style-type: none;
					a {
						text-decoration: none;
						color: $black;
						margin-left: 20px;
					}
				}
			}
		}
	}
}

footer {
	position: absolute;
	width: 100%;
	bottom: 8px;
	p {
		text-align: center;
	}
}






