//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #fff;
	color: $black;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

#manna_top_bg_gray {
	position: absolute;
	width: 100%;
	top: 440px;
	height: 760px;
	background-color: $gray;
	z-index: -10;
}

#manna_main {
	width: 980px;
	margin: 0 auto;
	#manna_header {
		margin-top: 88px;
		overflow: hidden;
		margin-bottom: 24px;
		#title_logo {
			width: 260px;
			float: left;
			a {
				display: block;
				img {
					width: 100%;
				}
			}
		}
		#menu_list {
			float: right;
			font-family: copper;
			font-size: 18px;
			ul {
				li {
					float: left;
					list-style-type: none;
					a {
						text-decoration: none;
						color: $black;
						margin-left: 20px;
					}
				}
			}
		}
	}
	#manna_message {
		text-align: center;
		img {
			width: 100%;
		}
		#manna_text_message {
			padding-top: 56px;
			padding-bottom: 36px;
			h2 {
				padding-bottom: 56px;
				font-size: 24px;
			}
			p {
				line-height: 44px;
				margin-bottom: 56px;
			}
			a {
				text-decoration: none;
				color: $white;
				padding: 10px 22px;
				background-color: $pink;
				font-family: copper;
			}
		}
	}
	.manna_block {
		margin-top: 64px;
		.title_heading {
			margin-bottom: 20px;
			font-size: 30px;
			font-family: copper;
		}
	}
	#manna_block_news {
		overflow: hidden;
		margin-top: 108px;
		#manna_feed_news {
			margin-bottom: 8px;
			dl {
				overflow: hidden;
				margin-bottom: 12px;
				dt {
					float: left;
					clear: left;
					margin-right: 52px;
					font-family: copper;
				}
				dd {
					float: left;
					margin-right: 52px;
				}
			}
		}
	}
	#manna_block_news_2 {
		overflow: hidden;
		margin-top: 64px;
		#manna_feed_news_2 {
			overflow: hidden;
			dl {
				width: 100%;
				dt {
					font-size: 18px;
					margin-bottom: 12px;
				}
				dd {
					font-size: 20px;
					font-weight: bold;
					margin-bottom: 32px;
				}
			}
			p {
				padding-bottom: 60px;
				margin-bottom: 60px;
				border-bottom: 1px solid #aeaeae;
				line-height: 24px;
				&:last-child {
					border: none;
					margin-bottom: 0;
				}
			}
		}
	}
	#manna_block_blog {
		overflow: hidden;
		#manna_feed_blog {
			overflow: hidden;
			.blog_first {
				dt {
					margin-bottom: 20px;
					background-color: $gray;
					width: 440px;
					height: 330px;
				}
			}
			dl {
				width: 440px;
				float: left;
				dd {
					margin-bottom: 12px;
				}
				.title_blog {
					font-size: 18px;
					font-weight: bold;
				}
				.title_blog_sub {
					font-weight: bold;
				}
			}
			.blog_first {
				padding-right: 49px;
				border-right: 1px #AFAFAF solid;
			}
			.blog_sub {
				float: left;
				padding-left: 50px;
				margin-top: 18px;
				&:nth-child(2) {
					margin-top: 0px;
				}
				dt {
					float: left;
					width: 182px;
					height: 130px;
					background-color: $gray;
					margin-right: 18px;
					margin-bottom: 14px;
				}
			}
			hr {
				width: 440px;
				float: right;
				background-color: #AFAFAF;
				box-shadow: none;
				border: none;
				height: 1px;
			}
		}
	}
	#manna_block_blog_2 {
		overflow: hidden;
		#manna_feed_blog_2 {
			overflow: hidden;
			dl {
				width: 228px;
				float: left;
				margin-right: 22px;
				margin-bottom: 36px;
				&:nth-child(4n) {
					margin-right: 0;
				}
				dt {
					margin-bottom: 8px;
					width: 228px;
					height: 161px;
					background-color: $gray;
				}
				dd {
					margin-bottom: 4px;
				}
			}
		}
	}
	#manna_block_order {
		overflow: hidden;
		.text_order {
			text-align: center;
			margin-bottom: 64px;
		}
		#manna_feed_food {
			overflow: hidden;
			dt {
				width: 300px;
				height: 180px;
				background-color: $gray;
				background-image: url();
			}
			dl {
				width: 300px;
				float: left;
				margin-right: 40px;
				margin-bottom: 38px;
				&:nth-child(3n) {
					margin-right: 0;
				}
				dt {
					margin-bottom: 8px;
				}
				dd {
					margin-bottom: 4px;
				}
				.order_1 {
					background-image: url(../img/top_order_above1.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_2 {
					background-image: url(../img/top_order_above2.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_3 {
					background-image: url(../img/top_order_above3.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_4 {
					background-image: url(../img/top_order_above4.jpg);
					background-size: cover;
					background-position: 0 -8px;
				}
				.order_5 {
					background-image: url(../img/top_order_above5.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_6 {
					background-image: url(../img/top_order_above6.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_7 {
					background-image: url(../img/top_order_above7.jpg);
					background-size: cover;
					background-position: 0 -8px;
				}
				.order_8 {
					background-image: url(../img/top_order_above8.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
				.order_9 {
					background-image: url(../img/top_order_above9.jpg);
					background-size: cover;
					background-position: 0 -13px;
				}
			}
		}
	}
	#manna_block_contact {
		margin-top: 64px;
		.text_contact {
			text-align: center;
			line-height: 24px;
		}
	}
	#manna_block_about {
		margin-top: 64px;
		h3 {
			text-align: center;
			font-size: 24px;
			margin-bottom: 20px;
		}
		#manna_description {
			width: 632px;
			margin: 0px auto;
			.desc_left {
				float: left;
				font-size: 12px;
				margin-right: 72px;
				line-height: 23px;
			}
			.desc_right {
				float: left;
				font-size: 12px;
				line-height: 21px;
			}
		}
	}
	.clear {
		clear: both;
	}
}

#manna_bg_slant {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding-top: 160px;
	#manna_slant {
		background-color: $pink;
		width: 140%;
		height: 760px;
		top: 280px;
		left: -300px;
		position: absolute;
		-webkit-transform: rotate(-12deg);
		   -moz-transform: rotate(-12deg);
		    -ms-transform: rotate(-12deg);
		     -o-transform: rotate(-12deg);
		        transform: rotate(-12deg);
		z-index: -10;
	}
	#manna_main {
		overflow: hidden;
		#manna_about_right {
			float: right;
			width: 520px;
			box-sizing: border-box;
			margin-bottom: 240px;
			position: relative;
			padding-top: 100px;
			#manna_right_image {
				position: absolute;
				width: 570px;
				height: 360px;
				z-index: -5;
				right: 400px;
				top: 50px;
			}
			.title_about_sub {
				font-size: 60px;
				margin-bottom: 20px;
				line-height: 40px;
				color: $white;
				font-weight: normal;
			}
			.about_sub_desc {
				color: #fff;
				padding: 28px;
				background-color: $pink_thick;
				h3 {
					font-size: 28px;
					margin-bottom: 24px;
				}
			}
		}
		#manna_about_left {
			float: left;
			width: 520px;
			box-sizing: border-box;
			position: relative;
			#manna_left_image {
				position: absolute;
				width: 570px;
				height: 360px;
				z-index: -5;
				left: 400px;
				top: -60px;
			}
			.title_about_sub {
				font-size: 60px;
				margin-bottom: 20px;
				line-height: 40px;
				color: $white;
				font-weight: normal;
			}
			.about_sub_desc {
				color: #fff;
				padding: 28px;
				background-color: $pink_thick;
				h3 {
					font-size: 28px;
					margin-bottom: 24px;
				}
			}
		}
	}
	#about_info {
		width: 640px;
		padding-top: 120px;
		margin: 0px auto;
		overflow: hidden;
		h4 {
			text-align: center;
			font-weight: normal;
			margin-bottom: 40px;
			font-size: 16px;
		}
		#about_info_right {
			h5 {
				font-weight: normal;
				margin-bottom: 8px;
			}
			p {
				line-height: 23px;
			}
			float: left;
			margin-right: 80px;
		}
		#about_info_left {
			h5 {
				font-weight: normal;
				margin-bottom: 8px;
			}
			p {
				line-height: 23px;
			}
			float: left;
		}
	}
	#gmap_ct {
		margin-top: 56px;
		width: 100%;
		height: 360px;
	}
}

@mixin hero_top {
	width: 100%;
	height: 380px;
	background-size: cover;
	text-align: center;
	color: $white;
	font-size: 48px;
	background-size: cover;
	h3 {
		padding-top: 160px;
		text-shadow: 3px 3px 9px #000;
 	}
}

#manna_hero_about {
	@include hero_top;
	background-image: url(../img/hero2.jpg);
	background-position: 0 -290px;
}

#manna_hero_news {
	@include hero_top;
	background-image: url(../img/hero4.jpg);
	background-position: 0 -230px;
}

#manna_hero_order {
	@include hero_top;
	background-image: url(../img/hero3.jpg);
}

#manna_hero_blog {
	@include hero_top;
	background-image: url(../img/hero1.jpg);
	background-position: 0 -320px;
}

#manna_hero_contact {
	@include hero_top;
	background-image: url(../img/hero5.jpg);
}

.manna_btn_seemore_right {
	float: right;
	text-decoration: none;
	color: $white;
	padding: 10px 22px;
	background-color: $pink;
	font-family: copper;
	font-size: 14px;
}

.copper {
	font-family: copper;
}

footer {
	width: 100%;
	bottom: 8px;
	margin-top: 124px;
	margin-bottom: 12px;
	p {
		text-align: center;
	}
	#manna_sns {
		width: 118px;
		margin: 8px auto 20px;
		overflow: hidden;
		a {
			display: block;
			float: left;
			margin: 0px 5px 5px 0px;
			padding: 0px;
			color: $white;
			i {
				width: 30px;
				height: 30px;
				margin: 0px 2px;
				border-radius: 50%;
				line-height: 30px;
				text-align: center;
				background-color: $pink;
			}
		}
	}
}






