//ファイルのインポート
@import "lib/base";
@import "lib/layout";
@import "lib/mixins"; //ブレイクポイントの設定

body {
	font-family: "hiragino", serif;
	font-size: 14px;
	background-color: #fff;
	color: $black;
	@include max-screen($breakpoint-mobile) {
		font-size: 12px;
	}
}

#manna_main {
	width: 980px;
	margin: 0 auto;
	#manna_header {
		margin-top: 96px;
		overflow: hidden;
		margin-bottom: 40px;
		#title_logo {
			width: 260px;
			float: left;
			img {
				width: 100%;
			}
		}
		#menu_list {
			float: right;
			ul {
				li {
					float: left;
					list-style-type: none;
					a {
						text-decoration: none;
						color: $black;
						margin-left: 20px;
					}
				}
			}
		}
	}
	#manna_message {
		text-align: center;
		img {
			width: 100%;
		}
		#manna_text_message {
			padding-top: 56px;
			padding-bottom: 36px;
			background-color: #e6e6e6;
			h2 {
				padding-bottom: 56px;
				font-size: 24px;
			}
			p {
				line-height: 44px;
				margin-bottom: 56px;
			}
			a {
				text-decoration: none;
				color: $white;
				padding: 7px 22px;
				background-color: #F2C0BD;
			}
		}
	}
	.manna_block {
		margin-top: 64px;
		.title_heading {
			margin-bottom: 20px;
			font-size: 24px;
		}
	}
	#manna_block_news {
		overflow: hidden;
		#manna_feed_news {
			margin-bottom: 8px;
			dl {
				overflow: hidden;
				margin-bottom: 16px;
				dt {
					float: left;
					clear: left;
					margin-right: 52px;
				}
				dd {
					float: left;
					margin-right: 52px;
				}
			}
		}
	}
	#manna_block_blog {
		overflow: hidden;
		#manna_feed_blog {
			overflow: hidden;
			dl {
				width: 440px;
				float: left;
			}
			.blog_sub {
				float: right;
				dt {
					float: left;
					width: 182px;
					margin-right: 18px;
					margin-bottom: 30px;
				}
			}
		}
	}
	#manna_block_order {
		overflow: hidden;
		#manna_feed_food {
			overflow: hidden;
			dl {
				width: 300px;
				float: left;
				margin-right: 40px;
				&:nth-child(3n) {
					margin-right: 0;
				}
			}
		}
	}
}

.manna_btn_seemore_right {
	float: right;
	text-decoration: none;
	color: $white;
	padding: 7px 22px;
	background-color: #F2C0BD;
}

footer {
	width: 100%;
	bottom: 8px;
	p {
		text-align: center;
	}
}






