header#manna_header
 #title_logo
  img(src="img/logo.png")
 #menu_list
  ul
   li
    a(href="") about
   li
    a(href="") news
   li
    a(href="") order
   li
    a(href="") blog
   li
    a(href="") contact
 p#info