header#manna_header
 #title_logo
  a(hred="index.html")
   img(src="img/logo.png")
 #menu_list
  ul
   li
    a(href="about.html") about
   li
    a(href="news.html") news
   li
    a(href="order.html") order
   li
    a(href="blog.html") blog
   li
    a(href="contact.html") contact
 p#info