extends _head
block title
 title= "manna bakery | blog"
block body
 #manna_main
  include _header
 #manna_hero_blog
  h3.copper BLOG
 #manna_main
  #manna_block_blog_2.manna_block
   #manna_feed_blog_2
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
    dl
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
 include _footer
 include _script