extends _head
block title
 title= "manna bakery | news"
block body
 #manna_main
  include _header
 #manna_hero_news
  h3.copper NEWS
 #manna_main
  #manna_block_news_2
   #manna_feed_news_2
 include _footer
 include _script