extends _head
block title
 title= "manna bakery | order"
block body
 #manna_main
  include _header
 #manna_hero_order
  h3 ORDER
 #manna_main
  #manna_block_order.manna_block
   #manna_feed_food
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
    dl
     dt
      img(src="http://via.placeholder.com/300x180")
     dd 2017.10.10
     dd ついに自店舗を開店した話。
 include _footer
 include _script