extends _head
block title
 title= "manna bakery | order"
block body
 #manna_main
  include _header
 #manna_hero_order
  h3.copper ORDER
 #manna_main
  #manna_block_order.manna_block
   p.text_order
    | こちらは全て通信販売をしております。
    br
    | 何か質問がある場合は、お問い合わせから気軽にご連絡ください。
   #manna_feed_food
    dl
     dt.order_1
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_2
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_3
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_4
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_5
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_6
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_7
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_8
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_9
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
 include _footer
 include _script