extends _head
block title
 title= "manna bakery"
block body
 #manna_top_bg_gray
 #manna_main
  include _header
  #manna_message
   img(src="img/top_1.png" alt="breads")
   #manna_text_message
    h2 美味しいグルテンフリーを世界の人々に
    p
     | サンプルです。サンプルです。サンプルです。
     br
     | サンプルです。サンプルです。サンプルです。サンプルです。サンプルです。
     br
     | サンプルです。サンプルです。サンプルです。
     br
     | サンプルです。サンプルです。サンプルです。サンプルです。
    a(href="about.html") see more...
  #manna_block_news.manna_block
   .title_heading
    h3 NEWS
   #manna_feed_news
    dl
     dt 2017.10.23
     dd お知らせ
     dd 公式サイトをオープンしました。
    dl
     dt 2017.10.22
     dd イベント
     dd 南麻布にある公民館でグルテンフリーぱん作りのワークショップを開催します。
    dl
     dt 2017.10.21
     dd メディア
     dd フジテレビ系列「とくダネ！」にて取り上げていただきました。
   a.manna_btn_seemore_right(href="news.html") see more ...
  #manna_block_blog.manna_block
   .title_heading
    h3 BLOG
   #manna_feed_blog
    dl.blog_first
     dt
     dd.copper 2017.10.10
     dd.title_blog ついに自店舗を開店した話。
     dd サンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルですサンプルで
    dl.blog_sub
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
     dd サンプルですサンプルですサンプルですサンプルですサンプルですサンプルでサンプルですサンプル
    hr
    dl.blog_sub
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
     dd サンプルですサンプルですサンプルですサンプルですサンプルですサンプルですさんんぷr
    hr
    dl.blog_sub
     dt
     dd.copper 2017.10.10
     dd.title_blog_sub ついに自店舗を開店した話。
     dd サンプルですサンプルですサンプルですサンプルですサンプルですサンプルで三rぷうサンプル
   a.manna_btn_seemore_right(href="blog.html") see more ...
  #manna_block_order.manna_block
   .title_heading
    h3 ORDER
   #manna_feed_food
    dl
     dt.order_1
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_2
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_3
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_4
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_5
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
    dl
     dt.order_6
     dd.copper ANN BREAD
     dd 甘い柔らかなアンを包んだパンです。
   a.manna_btn_seemore_right(href="order.html") see more ...
 include _footer
 include _script